
@font-face {
 font-family: outfit;
 src: url(fonts/Outfit-VariableFont_wght.ttf) format('truetype');
}
body{
 background-color: hsl(212, 45%, 89%);
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 width: 100%;
}
.card{
 background-color: hsl(0, 0%, 100%);
 display: flex;
 flex-direction: column;
 align-items: center;
 max-width: 300px;
 text-align: center;
 padding: 15px;
 border-radius: 20px;
 gap: 20px;
}
.card img{
 height: 300px;
 width: 300px;
 border-radius: 10px;
}
.card h1{
 color: hsl(218, 44%, 22%);
 font-family: outfit;
font-size: 20px;
font-weight: 700;
margin: 0 10px 0 10px;
}
.card p{
 color: hsl(220, 15%, 55%);
 font-family: outfit;
 font-size: 15px;
 font-weight: 400;
 margin: 0 10px 0 10px;
 padding-bottom: 20px;
}
